<header>
        <div>
            <table>
                <tr>
                    <td id="/" onclick="window.open(this.id, _self)">main</td>
                    <td id="/board" onclick="window.open(this.id, _self)">board</td>
                    <td id="/diary" onclick="window.open(this.id, _self)">diary</td>
                    <td id="/write" onclick="window.open(this.id, _self)">write</td>
                    <td id="/about" onclick="window.open(this.id, _self)">about</td>
                </tr>
            </table>
        </div>
</header>