<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <aside>
        <div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </aside>
    <main>
        <div>
            <h2>Welcome to </h2>
            <h1>diary</h1>
        </div>
    </main>
    <footer>
        <div>
            <p>&copy; 2025 diary</p>
        </div>
    </footer>

    <script src="/client/script.js"></script>
</body>
</html>